<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <h1 class="headerLogin">LOGIN</h1>
        <form class="loginForm" action="#" [formGroup]="formData" (ngSubmit)="onClickSubmit(formData.value)">
            <label for="un">User name</label>          
            <i class="bi bi-person-fill icon1"></i><input id="un" class="input1" type="text" placeholder="User name" formControlName="userName"><br>
            <label for="pw">Password</label>
            <i class="bi bi-lock-fill icon2"></i><input id="pw" class="input1" [type]="showPass ? 'password' : 'text'" placeholder="Password" formControlName="password"><i *ngIf="showPass; else hideIcon" class="bi bi-eye-fill icon3" (click)="toggleShowPass()">

            </i><ng-template #hideIcon><i (click)="toggleShowPass()" class="bi bi-eye-slash-fill icon3"></i></ng-template><br>
            
            <!-- <input type="checkbox" (change)="checkAll($event)" name=""><span>  Remember?</span><a style="float: right;" href="/">Back to home</a><br> -->
            <button type="submit">LOGIN</button>
        </form>
    </div>
</body>
</html>