<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <h1 class="headerLogin">LOGIN</h1>
        <form class="loginForm" action="#" [formGroup]="formData" (ngSubmit)="onClickSubmit(formData.value)">
            <input class="input1" type="text" placeholder="User name" formControlName="userName" autofocus><br>
            <input class="input1" type="password" placeholder="Password" formControlName="password"><br>
            <input type="checkbox" (change)="checkAll($event)" name=""><span>  Remember?</span><a style="float: right;" href="/">Back to home</a><br>
            <button type="submit">login</button>
        </form>
    </div>
</body>
</html>