<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="section-title" data-aos="zoom-out">
            <h2>About</h2>
            <p>Who we are</p>
        </div>

        <div class="row content" data-aos="fade-up">
            <div class="col-lg-6">
                <p>
                    Something about your Company. Something about your Company. Something about your Company.
                </p>
                <ul>
                    <li><i class="bi bi-check2-all"></i> First strength of your Company
                    </li>
                    <li><i class="bi bi-check2-all"></i> Second strength of your Company
                    </li>
                    <li><i class="bi bi-check2-all"></i> Third strength of your Company
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                <p>
                    Something about your Company. Something about your Company. Something about your Company. Something
                    about your Company. Something about your Company.
                    Something about your Company. Something about your Company. Something about your Company. Something
                    about your Company. Something about your Company.
                </p>
                <a href="#" class="btn-learn-more">Learn More</a>
            </div>
        </div>

    </div>
</section><!-- End About Section -->

<!-- ======= Features Section ======= -->
<section id="features" class="features">
    <div class="container">

        <ul class="nav nav-tabs row d-flex">
            <li class="nav-item col-3" data-aos="zoom-in">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
                    <i class="bi bi-geo-alt"></i>
                    <h4 class="d-none d-lg-block">Some content about business</h4>
                </a>
            </li>
            <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="100">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
                    <i class="bi bi-qr-code-scan"></i>
                    <h4 class="d-none d-lg-block">Some content about business</h4>
                </a>
            </li>
            <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="200">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
                    <i class="bi bi-brightness-high"></i>
                    <h4 class="d-none d-lg-block">Some content about business</h4>
                </a>
            </li>
            <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="300">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">
                    <i class="bi bi-shop-window"></i>
                    <h4 class="d-none d-lg-block">Some content about business</h4>
                </a>
            </li>
        </ul>

        <div class="tab-content" data-aos="fade-up">
            <div class="tab-pane active show" id="tab-1">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                        <h3>Header content. Header content. Header content. Header content.</h3>
                        <p class="fst-italic">
                            text box. text box. text box. text box. text box. text box. text box. text box. text box.
                            text box.
                            text box. text box.
                        </p>
                        <ul>
                            <li><i class="bi bi-check2-all"></i> text box. text box. text box. text box. text box. </li>
                            <li><i class="bi bi-check2-all"></i> text box. text box. text box. text box. text box. text
                                box. </li>
                            <li><i class="bi bi-check2-all"></i> text box. text box. text box. text box. text box. text
                                box.
                                text box. text box. text box. text box. text box. text box. text box. text box. text
                                box.
                                text box. text box. </li>
                        </ul>
                        <p>
                            text box. text box. text box. text box. text box. text box. text box. text box.
                            text box. text box. text box. text box. text box. text box. text box. text box.
                            text box. text box. text box. text box. text box. text box. text box. text box.
                            text box. text box. text box. text box. text box. text box. text box. text box.
                        </p>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center">
                        <img src="assets/image/feature-pictures/features-1.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-2">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                        <h3>Header content. Header content. Header content. Header content.</h3>
                        <p>
                            text box. text box. text box. text box. text box. text box. text box. text box.
                            text box. text box. text box. text box. text box. text box. text box. text box.
                            text box. text box. text box. text box. text box. text box. text box. text box.
                            text box. text box. text box. text box. text box.
                        </p>
                        <p class="fst-italic">
                            text box. text box. text box. text box. text box. text box. text box. text box.
                            text box. text box. text box. text box. text box.
                        </p>
                        <ul>
                            <li><i class="bi bi-check2-all"></i> text box. text box. text box. text box. text box. text
                                box. text box. text box.
                                text box. text box.</li>
                            <li><i class="bi bi-check2-all"></i> text box. text box. text box. text box. text box. text
                                box. text box. text box.
                                text box.</li>
                            <li><i class="bi bi-check2-all"></i> text box. text box. text box. text box. text box. text
                                box. text box. text box.
                                text box. text box. text box. text box.</li>
                            <li><i class="bi bi-check2-all"></i> text box. text box. text box. text box. text box. text
                                box. text box. text box.
                                text box. text box. text box. text box. text box. text box. text box. text box. text
                                box. text box.</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center">
                        <img src="assets/image/feature-pictures/features-2.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-3">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                        <h3>Header content. Header content. Header content. Header content.</h3>
                        <p>
                            text box. text box. text box. text box. text box. text box. text box. text box.
                            text box. text box. text box. text box. text box. text box. text box. text box.
                            text box. text box. text box. text box. text box. text box. text box. text box.
                            text box. text box. text box. text box. text box.
                        </p>
                        <ul>
                            <li><i class="bi bi-check2-all"></i> text box. text box. text box. text box. text box. text
                                box. text box. text box.
                                text box. text box.</li>
                            <li><i class="bi bi-check2-all"></i> text box. text box. text box. text box. text box. text
                                box. text box. text box.
                                text box.</li>
                            <li><i class="bi bi-check2-all"></i> text box. text box. text box. text box. text box. text
                                box. text box. text box.
                                text box. text box. text box. text box.</li>
                        </ul>
                        <p class="fst-italic">
                            text box. text box. text box. text box. text box. text box. text box. text box.
                            text box. text box. text box. text box. text box. text box. text box. text box. text box.
                            text box.
                        </p>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center">
                        <img src="assets/image/feature-pictures/features-3.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-4">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                        <h3>Header content. Header content. Header content. Header content.</h3>
                        <p>
                            text box. text box. text box. text box. text box. text box. text box. text box.
                            text box. text box. text box. text box. text box. text box. text box. text box.
                            text box. text box. text box. text box. text box. text box. text box. text box.
                            text box. text box. text box. text box. text box.
                        </p>
                        <p class="fst-italic">
                            text box. text box. text box. text box. text box. text box. text box. text box.
                            text box. text box. text box. text box. text box.
                        </p>
                        <ul>
                            <li><i class="bi bi-check2-all"></i> text box. text box. text box. text box. text box. text
                                box. text box. text box.
                                text box. text box. text box.</li>
                            <li><i class="bi bi-check2-all"></i> text box. text box. text box. text box. text box. text
                                box. text box. text box.
                                text box.</li>
                            <li><i class="bi bi-check2-all"></i> text box. text box. text box. text box. text box. text
                                box. text box. text box.
                                text box. text box. text box. text box. text box. text box. text box. text box.
                                text box. text box. text box. text box. text box.</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center">
                        <img src="assets/image/feature-pictures/features-4.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Features Section -->

<!-- ======= Cta Section ======= -->
<section id="cta" class="cta">
    <div class="container">

        <div class="row" data-aos="zoom-out">
            <div class="col-lg-9 text-center text-lg-start">
                <h3>Call To Action</h3>
                <p> Call to action. Call to action. Call to action. Call to action. Call to action. Call to action. Call
                    to action. Call to action.</p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
                <a class="cta-btn align-middle" href="#">Call To Action</a>
            </div>
        </div>

    </div>
</section><!-- End Cta Section -->

<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">

        <div class="section-title" data-aos="zoom-out">
            <h2>Services</h2>
            <p>What we do offer</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="icon-box" data-aos="zoom-in-left">
                    <div class="icon"><i class="bi bi-briefcase" style="color: #ff689b;"></i></div>
                    <h4 class="title"><a href="">First service</a></h4>
                    <p class="description">Something about service. Something about service. Something about service.
                        Something about service. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
                <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="100">
                    <div class="icon"><i class="bi bi-book" style="color: #e9bf06;"></i></div>
                    <h4 class="title"><a href="">Second service</a></h4>
                    <p class="description">Something about service. Something about service. Something about service.
                        Something about service. Something about service.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-5 mt-lg-0 ">
                <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="200">
                    <div class="icon"><i class="bi bi-card-checklist" style="color: #3fcdc7;"></i></div>
                    <h4 class="title"><a href="">Third service</a></h4>
                    <p class="description">Something about service. Something about service. Something about service.
                        Something about service.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="300">
                    <div class="icon"><i class="bi bi-binoculars" style="color:#41cf2e;"></i></div>
                    <h4 class="title"><a href="">Forth service</a></h4>
                    <p class="description">Something about service. Something about service. Something about service.
                        Something about service. Something about service.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-5">
                <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="400">
                    <div class="icon"><i class="bi bi-globe" style="color: #d6ff22;"></i></div>
                    <h4 class="title"><a href="">Fifth servive</a></h4>
                    <p class="description">Something about service. Something about service. Something about service.
                        Something about service.
                        Something about service.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="500">
                    <div class="icon"><i class="bi bi-clock" style="color: #4680ff;"></i></div>
                    <h4 class="title"><a href="">Sixth service</a></h4>
                    <p class="description">Something about service. Something about service. Something about service.
                        Something about service.
                        Something about service. Something about service.
                    </p>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Services Section -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title" data-aos="zoom-out">
            <h2>Contact</h2>
            <p>Contact Us</p>
        </div>

        <div class="row mt-5">

            <div class="col-lg-4" data-aos="fade-right">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Location:</h4>
                        <p>Thanh Xuan, Ha Noi, VN</p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>info@example.com</p>
                    </div>

                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Call:</h4>
                        <p>(+84)58 955-4855</p>
                    </div>

                </div>

            </div>

            <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left">

                <form action="#" method="post" role="form" class="php-email-form">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                                required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                            required>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="5" placeholder="Message"
                            required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>

            </div>

        </div>

    </div>
</section><!-- End Contact Section -->